<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sp.jh.example.testProject.mapper.BoardMapper">
<sql id="column">
	board_num,USER_ID, user_id, BOARD_SUBJECT, BOARD_CONTENT, BOARD_COUNT, IP_ADDR, org_File_Name, BOARD_REGIST
</sql>
<select id="getCode" resultType="int" parameterType="sp.jh.example.testProject.domain.BoardDTO">
	SELECT count(*)+1 from board
</select>
<!-- <select id="count" resultType="int" parameterType="sp.jh.example.testProject.domain.BoardDTO"> -->
<!-- 	SELECT NEXTVAL(board_count) -->
<!-- </select> -->
<update id="updateCount" parameterType="String">
	update board set board_count = board_count+1
	WHERE board_num=#{boardNum}
</update>

<insert id="registBoard" parameterType="sp.jh.example.testProject.domain.BoardDTO">
	insert into board( <include refid="column" /> )
		values(#{boardNum},#{userId},#{boardWriter},#{boardSubject},#{boardContent},0,#{ipAddr},#{boardFile},sysdate())
</insert>

<select id="getBoardList" parameterType="sp.jh.example.testProject.domain.BoardDTO" resultType="sp.jh.example.testProject.domain.BoardDTO">
select <include refid="column"/>
from board
order by board_num asc
<if test="startEndPageDTO != null">
Limit #{startEndPageDTO.startPage}, #{startEndPageDTO.endPage}
</if>
<!-- select * from ( select ROW_NUMBER() OVER(),  -->
<!-- <include refid="column"/> -->
<!-- from ( select  -->
<!-- <include refid="column"/> -->
<!-- from board  -->
<!-- <where> -->
<!-- 	<if test="boardNum != null">board_num = #{boardNum} </if> -->
<!-- </where> -->
<!-- ))  -->
<!-- <if test="startEndPageDTO != null"> -->
<!-- 	where ROW_NUMBER() between #{startEndPageDTO.startPage} and #{startEndPageDTO.endPage}  -->
	<!-- getStartEndPageDTO().getStartPage()와 같은 의미 -->
<!-- </if> -->
</select>

<select id="getCount" resultType="int">select count(*) from board </select>

<select id="getBoardDetail" parameterType="sp.jh.example.testProject.domain.BoardDTO" resultType="sp.jh.example.testProject.domain.BoardDTO">
	select <include refid="column"/>
	from board
	<where>
		board_num = #{boardNum}
	</where>
</select>
</mapper>
