<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sp.jh.example.testProject.mapper.CommentMapper">
	<sql id="col">
	co_num,	board_num, co_content, co_writer, co_reg	
	</sql>
	<select id="getCoNum" resultType="int" >
		SELECT COUNT(*)+1 FROM comment
	</select>
	<insert id="insertComment" parameterType="sp.jh.example.testProject.domain.CommentDTO">
		insert into comment ( <include refid="col" /> )
		values( #{coNum},#{boardNum},#{coContent},#{coWriter},sysdate() )
	</insert>
	<select id="getCommentList" parameterType="sp.jh.example.testProject.domain.CommentDTO" resultType="sp.jh.example.testProject.domain.CommentDTO">
		select <include refid="col" />
		from comment
<!-- 		where board_num = #{boardNum} -->
	</select>


	<delete id="commentDelete" parameterType="int">
		delete from comment where co_num = #{coNum}
	</delete>
</mapper>
